@import (reference) '../reference/var';
@import (reference) '../reference/lessmix';

/*
 * Layout
 */
.cols-width(@n) {
	@cols-width: (@l-col-w * @n) + (@l-col-gap * (@n - 1));
}

.cols(@n) {
	.cols-width(@n);
	width: @cols-width;
	max-width: 100%;
}


/*
 * Layout
 */
.block() {
	background: @c-bg-block;
	.rounded(@b-radius);
	box-shadow: @s-block;
	cursor: pointer;
	.transition-all;

	&:hover {
		box-shadow: @s-block-b;
	}

	&:active {
		box-shadow: @s-block-i;
	}
}

/*
 * Scroll Shadow
 */
.scroll-shadow() {
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}