/*
 * Fonts
 */
@fonts: 'Nunito', Helvetica, sans-serif;


/*
 * Colors
 */
@c-bg-body: #F0F3F5;
@c-bg-block: #FFFFFF;
@c-bg-body-d: #DBE4EF;

@c-text: #323232;
@c-text-muted: #6D748E;
@c-text-muted-d: #6F8493;

@c-icon: #8B95B9;
@c-icon-muted: #C6C9D6;

@c-primary: #0079E9;
@c-primary-d: darken(@c-primary, 5);

@c-border: #E2E7F8;
@c-border-d: #D8E6EF;

@c-interface-success: #0B982A;
@c-interface-danger: #D71E1E;
@c-interface-danger-d: darken(@c-interface-danger, 5);
@c-interface-white: #FFFFFF;

@c-vk: #45668E;
@c-facebook: #3B5998;
@c-whatsapp: #075E54;
@c-telegram: #0088CC;
@c-google: #EA4335;


/*
 * Border
 */
@b-radius: 8px;
@b-width: 1px;


/*
 * Size, Padding & Margin
 */
@h-header: 3.5rem;
@h-backlink: 3rem;
@p-gap: 1rem;


/*
 * Shadows
 */
@s-block: 0px 2px 8px rgba(0, 24, 108, 0.05);
@s-block-b: 0px 4px 16px rgba(0, 24, 108, 0.07);
@s-block-i: inset 0px 4px 16px rgba(0, 24, 108, 0.05);


/*
 * Breakpoints
 */
@v-d: ~"(min-width: 1025px)";