/* nunito-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-italic - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-800 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700italic - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v16-latin_cyrillic-ext_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
        outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
main,
section,
nav,
article {
  display: block;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}
a {
  text-decoration: none;
  color: inherit;
}
body,
html {
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  background: #F0F3F5;
  color: #323232;
  cursor: default;
  overflow-x: hidden;
}
@media (min-width: 1025px) {
  body,
  html {
    font-size: 18px;
  }
}
body {
  height: 100%;
}
body.no-overflow {
  overflow: hidden;
}
@media (min-width: 1025px) {
  .wrap {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  fill: #8B95B9;
}
.content {
  padding: 1rem;
  min-height: 100vh;
}
.content-p-header {
  padding-top: 4.5rem;
}
.content-p-backlink {
  padding-top: 4rem;
}
.content-p-header.content-p-backlink {
  padding-top: 7.5rem;
}
.content-p-navbar {
  padding-bottom: 4.5rem;
}
.content_section + .content_section {
  margin-top: 2rem;
}
.placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.placeholder_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #6D748E;
}
.placeholder_icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: #C6C9D6;
  margin-bottom: 1rem;
}
.placeholder_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #323232;
  margin-bottom: 0.5rem;
}
.placeholder_text a {
  text-decoration: underline;
}
.placeholder_text a:hover {
  text-decoration: none;
}
.placeholder_button {
  margin-top: 1rem;
}
.placeholder_buttons {
  margin-top: 0.75rem;
  margin-left: -0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.placeholder_buttons .button {
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.text-muted {
  color: #6D748E;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.entities_item + .entities_item {
  margin-top: 0.75rem;
}
.entities_item.loader {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.entities_subtitle {
  font-size: 1.125rem;
  color: #6D748E;
  margin-bottom: 0.75rem;
  font-weight: 600;
}
.entities_subtitle:not(:first-child) {
  margin-top: 1.5rem;
}
@media (min-width: 1025px) {
  .entities-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -1rem;
    margin-left: -1rem;
  }
  .entities-grid.mt-1 {
    margin-top: 0;
  }
  .entities-grid .entities_item {
    width: calc(50% - 1rem);
    margin-left: 1rem;
  }
  .entities-grid .entities_item,
  .entities-grid .entities_item + .entities-grid .entities_item {
    margin-top: 1rem;
  }
  .entities-grid .entities_item-full {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
.overlay {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.overlay-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #D8E6EF;
  border-radius: 8px;
}
.notifications_caption {
  color: #6F8493;
  margin-right: 0.5rem;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.notifications_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}
.notifications_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.5rem;
}
.notifications_item-active .icon {
  fill: #0079E9;
}
.filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.75rem;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.filter:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
}
.filter:active {
  -webkit-box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
          box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
}
.filter .icon {
  margin-left: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
}
.avatar {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  overflow: hidden;
}
.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
  border: 1px solid #D8E6EF;
  border-radius: 8px;
}
.user_photo {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.user_info {
  width: 100%;
  min-width: 0;
}
.user_name {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user_name span {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.user_contacts {
  color: #6F8493;
  font-size: 0.875rem;
}
.user_contacts li {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.user_soc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #0079E9;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.user_soc-google {
  background: #EA4335;
}
.user_soc-vk {
  background: #45668E;
}
.user_soc-facebook {
  background: #3B5998;
}
.user_soc .icon {
  width: 1rem;
  height: 1rem;
  fill: #FFFFFF;
}
.array_key {
  font-size: 0.875rem;
  color: #6D748E;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.array + .array {
  margin-top: 1rem;
}
.loader {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loader-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.loader:before {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #8B95B9;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-animation: loader 1s infinite linear;
  animation: loader 1s infinite linear;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.loader-small:before {
  width: 1rem;
  height: 1rem;
}
.loader-big:before {
  width: 3rem;
  height: 3rem;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.cta {
  background: url(../img/gradient.png) no-repeat center / cover;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 1.5rem;
}
.cta-center {
  text-align: center;
}
.cta-center .input {
  text-align: center;
}
.cta_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.cta_button {
  margin-top: 1rem;
}
.cta_form {
  margin-top: 1rem;
}
.cta_form .cta_button {
  margin-top: 0.5rem;
}
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
  background: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 700;
  color: #323232;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.button span {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.button .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.button .icon:first-child {
  margin-right: 0.5rem;
}
.button .icon:last-child {
  margin-right: 0;
  margin-left: 0.5rem;
}
.button:not(.button-primary):not(.button-danger):hover,
.button:not(.button-primary):not(.button-danger):active {
  color: #0079E9;
}
.button[disabled],
.button-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}
.button-outline {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E2E7F8;
}
.button-primary .icon,
.button-danger .icon {
  fill: currentColor;
}
.button-primary.button-outline,
.button-danger.button-outline {
  background: transparent;
  border: 2px solid currentColor;
}
.button-primary {
  background: #0079E9;
  color: #FFFFFF;
}
.button-primary.button-outline {
  color: #0079E9;
}
.button-primary.button-outline:hover,
.button-primary.button-outline:active {
  color: #006cd0;
}
.button-primary:not(.button-outline):hover,
.button-primary:not(.button-outline):active {
  background: #006cd0;
}
.button-danger {
  background: #D71E1E;
  color: #FFFFFF;
}
.button-danger.button-outline {
  color: #D71E1E;
}
.button-danger.button-outline:hover,
.button-danger.button-outline:active {
  color: #c11b1b;
}
.button-danger:not(.button-outline):hover,
.button-danger:not(.button-outline):active {
  background: #c11b1b;
}
.button-small {
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.button-small .icon:first-child {
  margin-right: 0.25rem;
}
.button-small .icon:last-child {
  margin-right: 0;
  margin-left: 0.25rem;
}
.button-block,
.button-block-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 1025px) {
  .button-block-m {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
  }
}
.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}
.tags_item {
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid #E2E7F8;
  font-size: 0.875rem;
  color: #6D748E;
}
.tags_item-hl {
  background: #E2E7F8;
}
.vaccard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.75rem 1rem;
}
.vaccard:not(.vaccard-instant) {
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.vaccard:not(.vaccard-instant):hover {
  -webkit-box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
}
.vaccard:not(.vaccard-instant):active {
  -webkit-box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
          box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
}
.vaccard-instant {
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E2E7F8;
}
.vaccard_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  font-weight: 600;
}
.vaccard_title span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.vaccard_status {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0.75rem;
}
.vaccard_status-danger {
  fill: #D71E1E;
}
.vaccard_status-success {
  fill: #0B982A;
}
.vaccard_subtitle {
  margin-top: 0.25rem;
  color: #6D748E;
}
.vaccard_tags {
  margin-top: 0;
}
.vaccard_rel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E2E7F8;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0.75rem;
  margin-bottom: -0.75rem;
  padding: 0.75rem 1rem;
}
.vaccard-instant .vaccard_rel {
  margin: 0;
  padding: 0;
  border-top: 0;
  margin-top: 0.5rem;
}
.vaccard-child .vaccard_rel {
  margin: 0;
  padding: 0;
  border-top: 0;
}
.vaccard_rel_photo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.vaccard_rel_name {
  font-weight: 600;
  margin-right: 1rem;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.vaccard_rel_date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: #6D748E;
  font-size: 0.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.vaccard_rel_date-danger {
  color: #D71E1E;
}
.vaccard_rel_date-success {
  color: #0B982A;
}
.vaccard_rel_date .icon {
  fill: currentColor;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.25rem;
}
.newscard {
  display: block;
  overflow: hidden;
  position: relative;
  height: 11.25rem;
  background: #323232;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
}
.newscard_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newscard_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding: 0.75rem 1rem;
  color: #FFFFFF;
}
.newscard_date {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.newscard_title {
  font-weight: 600;
}
.input {
  display: block;
  width: 100%;
  padding: 0.875rem 1rem;
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #E2E7F8;
  outline: none;
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 1rem;
}
.input::-webkit-input-placeholder {
  color: #6D748E;
}
.input::-moz-placeholder {
  color: #6D748E;
}
.input:-ms-input-placeholder {
  color: #6D748E;
}
.input::-ms-input-placeholder {
  color: #6D748E;
}
.input::placeholder {
  color: #6D748E;
}
.input[size] {
  width: auto;
}
.input-inverse {
  border: none;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
}
.input-inverse::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.input-inverse::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.input-inverse:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.input-inverse::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.input-inverse::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
textarea.input {
  resize: vertical;
  height: 10rem;
}
.backlink {
  position: fixed;
  left: 0;
  right: 0;
  top: 3.5rem;
  z-index: 100;
  height: 3rem;
  border-bottom: 1px solid #E2E7F8;
  background: #FFFFFF;
  font-weight: 600;
}
.backlink_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.backlink span {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.backlink .icon {
  margin-right: 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #E2E7F8;
  background: #FFFFFF;
  height: 3.5rem;
}
.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.header_logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  line-height: 1;
  color: #0079E9;
  font-weight: 900;
}
.header_lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  border: 1px solid #E2E7F8;
  color: #6D748E;
}
.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 1025px) {
  .header_menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header_menu_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (min-width: 1025px) {
  .header_menu_item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: 1.5rem;
  }
}
.header_menu_item:not(.header_menu_item-active):hover .icon,
.header_menu_item:not(.header_menu_item-active):active .icon {
  fill: #0079E9;
}
.header_menu_item .icon {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header_menu_item-active {
  color: #0079E9;
  border-color: #0079E9;
}
.header_menu_item-active .icon {
  fill: #0079E9;
}
.header_menu_item span {
  display: none;
}
@media (min-width: 1025px) {
  .header_menu_item span {
    display: block;
    margin-left: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: -2px;
    white-space: nowrap;
  }
}
.params_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.params_row + .params_row {
  margin-top: 0.5rem;
}
.params_key {
  color: #6D748E;
}
.params_value {
  font-weight: 600;
}
.params_key,
.params_value {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  height: 2.5rem;
}
.share_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0079E9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.share_item .icon {
  fill: #FFFFFF;
}
.share_item-vk {
  background: #45668E;
}
.share_item-vk:hover {
  background: #3d5a7d;
}
.share_item-facebook {
  background: #3B5998;
}
.share_item-facebook:hover {
  background: #344e86;
}
.share_item-whatsapp {
  background: #075E54;
}
.share_item-whatsapp:hover {
  background: #05463f;
}
.share_item-telegram {
  background: #0088CC;
}
.share_item-telegram:hover {
  background: #0077b3;
}
.typeset h1,
.typeset h2,
.typeset h3,
.typeset h4,
.typeset h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.typeset h1:not(:first-child),
.typeset h2:not(:first-child),
.typeset h3:not(:first-child),
.typeset h4:not(:first-child),
.typeset h5:not(:first-child) {
  margin-top: 1em;
}
.typeset h1 {
  font-size: 1.75rem;
}
.typeset h2 {
  font-size: 1.5rem;
}
.typeset h3,
.typeset h4 {
  font-size: 1.125rem;
}
.typeset b,
.typeset strong {
  font-weight: bold;
}
.typeset i,
.typeset em {
  font-style: italic;
}
.typeset a {
  color: #0079E9;
}
.typeset ul li,
.typeset ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.typeset ul li:before,
.typeset ol li:before {
  content: '';
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.typeset ul li + li,
.typeset ol li + li {
  margin-top: 0.5rem;
}
.typeset ul li:before {
  width: 0.5rem;
  height: 0.5rem;
  background: #8B95B9;
  border-radius: 2px;
  margin-right: 0.75rem;
  margin-top: 0.45rem;
}
.typeset ol {
  counter-reset: ol;
}
.typeset ol li {
  counter-increment: ol;
}
.typeset ol li:before {
  content: counter(ol);
  color: #6D748E;
  font-size: 0.875rem;
  font-weight: 600;
  width: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.15rem;
}
.typeset p + p {
  margin-top: 1rem;
}
.typeset .share {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.typeset img,
.typeset video,
.typeset iframe {
  display: block;
  width: calc(100% + (1rem * 2));
  margin-left: -1rem;
  margin-right: -1rem;
}
@media (min-width: 1025px) {
  .typeset img,
  .typeset video,
  .typeset iframe {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;
  }
}
.modal {
  position: fixed;
  z-index: 102;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal-hidden {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
@media (min-width: 1025px) {
  .modal {
    left: 50%;
    top: 50%;
    bottom: auto;
    width: 25rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }
  .modal-hidden {
    -webkit-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
  }
}
.modal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #E2E7F8;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.modal_title {
  font-size: 1.125rem;
  font-weight: 600;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 1rem;
}
.modal_subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.modal_close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}
.modal_close .icon {
  fill: #C6C9D6;
  width: 1rem;
  height: 1rem;
}
.modal_body {
  overflow-y: auto;
}
.modal_content {
  padding: 1rem;
}
.modal_content + .modal_content {
  border-top: 1px solid #E2E7F8;
}
.modal_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem;
}
.modal_menu_item > .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.5rem;
}
.modal_menu_item + .modal_menu_item {
  border-top: 1px solid #E2E7F8;
}
.form_field {
  display: block;
}
.form_field-danger,
.form_field-danger .form_description {
  color: #D71E1E;
}
.form_field-success,
.form_field-success .form_description {
  color: #0B982A;
}
.form_field + .form_field {
  margin-top: 1rem;
}
.form_submit {
  margin-top: 1.5rem;
}
.form_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.form_label .icon {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #D71E1E;
}
.form_description {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: #6D748E;
}
.form_message {
  padding: 0.875rem 1rem;
  border-radius: 8px;
  border: 1px solid #E2E7F8;
  font-size: 0.875rem;
}
.form_message-danger {
  border: none;
  background: #D71E1E;
  color: #FFFFFF;
}
.form_message-success {
  border: none;
  background: #0B982A;
  color: #FFFFFF;
}
.form_link {
  display: block;
  width: 100%;
  margin-top: 1em;
  font-size: 0.875rem;
  color: #6D748E;
  text-align: center;
}
.form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
}
.form_group_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
}
.form_upload_preview {
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.form_upload_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.75rem;
}
.form_upload_buttons .button {
  margin-left: 0.75rem;
}
.form_disclaimer {
  font-size: 0.875rem;
  color: #6D748E;
  margin-top: 1rem;
}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
  border-radius: 8px;
}
.tabs_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.tabs_item-active {
  background: #0079E9;
  color: #FFFFFF;
  cursor: default;
}
.tabs_item:not(.tabs_item-active):hover,
.tabs_item:not(.tabs_item-active):active {
  color: #0079E9;
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  height: 3.5rem;
  border-top: 1px solid #E2E7F8;
  background: #FFFFFF;
}
.navbar_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.navbar_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  color: #6D748E;
}
.navbar_item-active {
  color: #0079E9;
}
.navbar_item-active .icon {
  fill: #0079E9;
}
.childcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 1rem;
}
.childcard:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
}
.childcard:active {
  -webkit-box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
          box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
}
.childcard_photo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.75rem;
}
.childcard_info {
  min-width: 0;
}
.childcard_name {
  font-size: 1.125rem;
  font-weight: 600;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.childcard_details {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  color: #6D748E;
}
.childcard_details_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}
.childcard_details_item .icon {
  margin-right: 0.25rem;
}
.plan {
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
}
.plan-hl {
  background: url(../img/gradient.png) no-repeat center / cover;
  color: #FFFFFF;
}
.plan_title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.plan_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
  margin-top: -0.75rem;
}
.plan_list_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: 0.75rem;
}
.plan_list_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #E2E7F8;
  margin-right: 0.5rem;
}
.plan-hl .plan_list_icon {
  border: none;
  background: rgba(255, 255, 255, 0.1);
}
.plan-hl .plan_list_icon .icon {
  fill: currentColor;
}
.plan_wrap {
  padding: 1rem;
}
.plan_wrap + .plan_wrap {
  border-top: 1px solid #E2E7F8;
}
.plan-hl .plan_wrap + .plan_wrap {
  border-color: rgba(255, 255, 255, 0.2);
}
.plan_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.25rem;
}
.plan_price {
  margin-top: 0.75rem;
}
.plan_benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.25rem;
}
.plan_benefit_cost {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6D748E;
  text-decoration: line-through;
}
.plan-hl .plan_benefit_cost {
  color: rgba(255, 255, 255, 0.5);
}
.plan_discount {
  height: 1.125rem;
  line-height: 1.125rem;
  margin-left: 0.25rem;
  padding: 0 0.25rem;
  border-radius: 1.125rem;
  background: #0079E9;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 700;
}
.plan-hl .plan_discount {
  background: #FFFFFF;
  color: #0B982A;
}
.plan_cost {
  font-size: 1.125rem;
  font-weight: 600;
}
.plan_button {
  margin-top: 0.75rem;
}
.checkbox {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.checkbox-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.checkbox-block + .checkbox-block {
  margin-top: 0.5rem;
}
.checkbox input {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.checkbox_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #E2E7F8;
}
.checkbox_icon .icon {
  opacity: 0;
  filter: alpha(opacity=0);
  fill: #FFFFFF;
  width: 1rem;
  height: 1rem;
}
input:checked + .checkbox_icon {
  background: #0079E9;
  border-color: #0079E9;
}
input:checked + .checkbox_icon .icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
input[type="radio"] + .checkbox_icon {
  border-radius: 100%;
}
.checkbox_caption {
  margin-left: 0.5rem;
}
.cardform {
  background: #F0F3F5;
  padding: 0.875rem 1rem;
  border-radius: 8px;
}
.cardform_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cardform_disclaimer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: #6D748E;
}
.cardform_disclaimer .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.25rem;
}
.cardform_alt {
  margin-top: 0.75rem;
}
.article_cover {
  overflow: hidden;
  position: relative;
  height: 20rem;
  background: #323232;
  margin: -1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1025px) {
  .article_cover {
    margin: 0;
    margin-bottom: 1.5rem;
    border-radius: 8px;
  }
}
.article_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  padding: 1rem;
  color: #FFFFFF;
}
.article_date {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.article_title {
  font-size: 1.75rem;
  font-weight: 700;
}
.article_expert {
  padding: 1.5rem 0;
  border-top: 1px solid #E2E7F8;
  border-bottom: 1px solid #E2E7F8;
}
.article_expert_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article_expert_photo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 1rem;
}
.article_expert_photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article_expert_info {
  min-width: 0;
}
.article_expert_name {
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article_expert_name span {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.article_expert_name .icon {
  fill: #0079E9;
  margin-left: 0.25rem;
}
.article_expert_status {
  color: #6D748E;
}
.article_expert_desc {
  font-size: 0.875rem;
  color: #6D748E;
  margin-top: 0.75rem;
}
.article_details {
  margin-top: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
  color: #6D748E;
}
.auth_section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.auth_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin-left: -0.5rem;
}
.auth_soc_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 8px;
  background: #0079E9;
  margin-left: 0.5rem;
  cursor: pointer;
}
.auth_soc_item-google {
  background: #EA4335;
}
.auth_soc_item-google:hover,
.auth_soc_item-google:active {
  background: #e82e1e;
}
.auth_soc_item-facebook {
  background: #3B5998;
}
.auth_soc_item-facebook:hover,
.auth_soc_item-facebook:active {
  background: #344e86;
}
.auth_soc_item-vk {
  background: #45668E;
}
.auth_soc_item-vk:hover,
.auth_soc_item-vk:active {
  background: #3d5a7d;
}
.auth_soc_item .icon {
  fill: #FFFFFF;
  width: 2rem;
  height: 2rem;
}
.auth_alt {
  color: #6D748E;
  text-align: center;
}
.auth_alt a,
.auth_alt button {
  color: #0079E9;
  font-weight: 600;
  cursor: pointer;
}
.auth_alt a:hover,
.auth_alt button:hover {
  color: #006cd0;
}
.guide {
  background: #0079E9;
}
.guide_slide {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.guide_slide:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  display: block;
  width: 100%;
  height: 7.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 121, 233, 0.8)), to(rgba(0, 121, 233, 0)));
  background: -o-linear-gradient(top, rgba(0, 121, 233, 0.8) 0%, rgba(0, 121, 233, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 121, 233, 0.8) 0%, rgba(0, 121, 233, 0) 100%);
}
.guide_image {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .guide_image {
    width: 30rem;
    left: 50%;
    margin-left: -15rem;
  }
}
.guide_main {
  background: rgba(0, 121, 233, 0.8);
  color: #FFFFFF;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: relative;
  z-index: 2;
}
.guide_main:before {
  content: '';
  position: absolute;
  top: -7.5rem;
  display: block;
  width: 100%;
  height: 7.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 121, 233, 0)), to(rgba(0, 121, 233, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 121, 233, 0) 0%, rgba(0, 121, 233, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 121, 233, 0) 0%, rgba(0, 121, 233, 0.8) 100%);
}
.guide_content {
  padding: 2rem 1rem;
  text-align: center;
}
.guide_text {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.8);
}
.guide_button {
  margin-top: 1rem;
}
.guide_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -0.25rem;
}
.guide_nav_item {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  margin-left: 0.25rem;
  background: rgba(255, 255, 255, 0.3);
}
.guide_nav_item-active {
  background: #FFFFFF;
}
.guide_skip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.7);
}
.guide_skip .icon {
  margin-left: 0.25rem;
  fill: currentColor;
}
.my_title {
  margin-bottom: 0.75rem;
}
.my_tabs {
  margin-bottom: 1rem;
}
.my_controls {
  margin-bottom: 1rem;
}
.mark_vaccard {
  margin-bottom: 1rem;
}
.mark_section {
  margin: 0 -1rem;
  padding: 0 1rem;
}
.mark_section + .mark_section {
  border-top: 1px solid #E2E7F8;
  padding-top: 1rem;
  margin-top: 1rem;
}
.mark_subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.settings_subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.settings_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 1rem;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
          box-shadow: 0px 2px 8px rgba(0, 24, 108, 0.05);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.settings_menu_item:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 24, 108, 0.07);
}
.settings_menu_item:active {
  -webkit-box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
          box-shadow: inset 0px 4px 16px rgba(0, 24, 108, 0.05);
}
.settings_menu_item .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.settings_menu_item .icon:first-child {
  margin-right: 0.5rem;
}
.settings_menu_item .icon:last-child {
  margin-left: 0.5rem;
  fill: #0B982A;
}
.settings_menu_item span {
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.settings_menu_item + .settings_menu_item {
  margin-top: 0.5rem;
}
.settings_subscription_status span {
  font-weight: 600;
}
.settings_subscription_status-success span {
  color: #0B982A;
}
.settings_subscription_status-danger span {
  color: #D71E1E;
}
.settings_subscription_payment {
  margin-top: 0.25rem;
  color: #6D748E;
  font-size: 0.875rem;
}
.settings_subscription_button {
  margin-top: 0.75rem;
}
.settings_history {
  font-size: 0.875rem;
}
.settings_history li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.5rem;
  border-top: 1px solid #E2E7F8;
}
.settings_history li + li {
  margin-top: 0.75rem;
}
.settings_notifs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.settings_notifs_item + .settings_notifs_item {
  margin-top: 0.5rem;
}
.settings_notifs_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_notifs_caption .icon {
  margin-right: 0.5rem;
}
