@import (inline) 'reference/fonts.css';
@import (inline) 'external/reset.min.css';
@import (reference) 'reference/lessmix';
@import (reference) 'reference/var';

main, section, nav, article {display: block;}

*, *:after, *:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
.clearfix {&:after, &:before {display: table;content: '';} &:after {clear: both;}}
a {text-decoration: none;color: inherit;}

body, html {
	font-family: @fonts;
	font-size: 16px;
	line-height: normal;
	background: @c-bg-body;
	color: @c-text;
	cursor: default;
	overflow-x: hidden;

	@media @v-d {
		font-size: 18px;
	}
}

body {
	height: 100%;

	&.no-overflow {
		overflow: hidden;
	}
}

.wrap {
	@media @v-d {
		width: 1024px;
		.center;
	}
}

.icon {
	display: inline-block;
	vertical-align: middle;
	.square(1.5rem);
	fill: @c-icon;
}

.content {
	padding: @p-gap;
	min-height: 100vh;
	
	&-p-header {
		padding-top: @h-header + @p-gap;
	}

	&-p-backlink {
		padding-top: @h-backlink + @p-gap;
	}

	&-p-header&-p-backlink {
		padding-top: @h-header + @h-backlink + @p-gap;
	}

	&-p-navbar {
		padding-bottom: @h-header + @p-gap;
	}

	&_section {
		& + & {
			margin-top: 2rem;
		}
	}
}

.placeholder {
	display: flex;
	flex-direction: column;

	&_content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		text-align: center;
		color: @c-text-muted;
	}

	&_icon {
		.square(3.5rem);
		fill: @c-icon-muted;
		margin-bottom: 1rem;
	}

	&_title {
		font-size: 1.5rem;
		font-weight: 700;
		color: @c-text;
		margin-bottom: 0.5rem;
	}

	&_text {
		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&_button {
		margin-top: 1rem;
	}

	&_buttons {
		margin-top: .75rem;
		margin-left: -0.75rem;
		display: flex;
		flex-wrap: wrap;

		.button {
			margin-left: 0.75rem;
			margin-top: 0.75rem;
		}
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.text-muted {
	color: @c-text-muted;
}

.mt-1 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.entities {
	&_item {
		& + & {
			margin-top: 0.75rem;
		}

		&.loader {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}

	&_subtitle {
		font-size: 1.125rem;
		color: @c-text-muted;
		margin-bottom: 0.75rem;
		font-weight: 600;

		&:not(:first-child) {
			margin-top: 1.5rem;
		}
	}

	&-grid {
		@media @v-d {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: -1rem;
			margin-left: -1rem;

			&.mt-1 {
				margin-top: 0;
			}

			.entities_item {
				width: calc(50% - 1rem);
				margin-left: 1rem;

				&, & + & {
					margin-top: 1rem;
				}

				&-full {
					flex: 100%;
				}
			}
		}
	}
}

.overlay {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.square(100%);
	background: fade(#000, 70);
	backdrop-filter: blur(2px);
	
	.transition-all;

	&-hidden {
		.opacity(0);
		visibility: hidden;
	}
}

.notifications {
	display: flex;
	align-items: center;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	border: @b-width solid @c-border-d;
	.rounded(@b-radius);

	&_caption {
		color: @c-text-muted-d;
		margin-right: .5rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&_list {
		display: flex;
		flex-shrink: 0;
		margin-left: auto;
	}

	&_item {
		flex: 1;
		margin-left: 0.5rem;

		&-active {
			.icon {
				fill: @c-primary;
			}
		}
	}
}

.filter {
	display: inline-flex;
	align-items: center;
	padding: 0.5rem 0.75rem;
	.block();

	.icon {
		margin-left: 0.5rem;
		.square(.75rem);
	}
}

.avatar {
	display: block;
	.square(3rem);
	.rounded(@b-radius);
	overflow: hidden;

	img {
		display: block;
		.square(100%);
		object-fit: cover;
	}
}

.user {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	border: @b-width solid @c-border-d;
	.rounded(@b-radius);

	&_photo {
		.square(4rem);
		margin-right: 1rem;
		flex-shrink: 0;
	}

	&_info {
		width: 100%;
		min-width: 0;
	}

	&_name {
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&_contacts {
		color: @c-text-muted-d;
		font-size: .875rem;

		li {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&_soc {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		.square(1.5rem);
		background: @c-primary;
		.rounded(.25rem);
		margin-left: 0.5rem;
		flex-shrink: 0;

		&-google {
			background: @c-google;
		}

		&-vk {
			background: @c-vk;
		}

		&-facebook {
			background: @c-facebook;
		}

		.icon {
			.square(1rem);
			fill: @c-interface-white;
		}
	}
}

.array {
	&_key {
		font-size: 0.875rem;
		color: @c-text-muted;
		font-weight: 600;
		margin-bottom: 0.25rem;
	}

	& + & {
		margin-top: 1rem;
	}
}


// components
@import 'components/loader';
@import 'components/cta';
@import 'components/button';
@import 'components/tags';
@import 'components/vaccard';
@import 'components/newscard';
@import 'components/input';
@import 'components/backlink';
@import 'components/header';
@import 'components/params';
@import 'components/share';
@import 'components/typeset';
@import 'components/modal';
@import 'components/form';
@import 'components/tabs';
@import 'components/navbar';
@import 'components/childcard';
@import 'components/plan';
@import 'components/checkbox';
@import 'components/cardform';


// sections
@import 'sections/article';
@import 'sections/auth';
@import 'sections/guide';
@import 'sections/my';
@import 'sections/mark';
@import 'sections/settings';