@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.backlink {
	position: fixed;
	left: 0;
	right: 0;
	top: @h-header;
	z-index: 100;

	height: @h-backlink;
	border-bottom: @b-width solid @c-border;
	background: @c-bg-block;

	font-weight: 600;

	&_wrap {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 @p-gap;
	}

	span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.icon {
		margin-right: 0.5rem;
		flex-shrink: 0;
	}
}