@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 3rem;
	padding: 0 1.5rem;
	.rounded(@b-radius);
	box-shadow: @s-block;
	background: @c-bg-block;

	font-size: 1.125rem;
	font-weight: 700;
	color: @c-text;

	.transition-all;
	cursor: pointer;

	span {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.icon {
		flex-shrink: 0;

		&:first-child {
			margin-right: 0.5rem;
		}

		&:last-child {
			margin-right: 0;
			margin-left: 0.5rem;
		}
	}

	&:not(&-primary):not(&-danger) {
		&:hover, &:active {
			color: @c-primary;
		}
	}

	&[disabled], &-disabled {
		.opacity(.5);
		cursor: not-allowed;
	}

	&-outline {
		box-shadow: none;
		border: 1px solid @c-border;
	}

	&-primary, &-danger {
		.icon {
			fill: currentColor;
		}

		&.button-outline {
			background: transparent;
			border: 2px solid currentColor;
		}
	}

	&-primary {
		background: @c-primary;
		color: @c-interface-white;

		&.button-outline {
			color: @c-primary;

			&:hover, &:active {
				color: @c-primary-d;
			}
		}

		&:not(.button-outline) {
			&:hover, &:active {
				background: @c-primary-d;
			}
		}
	}

	&-danger {
		background: @c-interface-danger;
		color: @c-interface-white;

		&.button-outline {
			color: @c-interface-danger;

			&:hover, &:active {
				color: @c-interface-danger-d;
			}
		}

		&:not(.button-outline) {
			&:hover, &:active {
				background: @c-interface-danger-d;
			}
		}
	}

	&-small {
		height: 2rem;
		padding: 0 .5rem;
		font-size: 1rem;
		font-weight: 600;

		.icon {
			&:first-child {
				margin-right: 0.25rem;
			}

			&:last-child {
				margin-right: 0;
				margin-left: 0.25rem;
			}
		}
	}

	&-block, &-block-m {
		display: flex;
		width: 100%;
	}

	&-block-m {
		@media @v-d {
			display: inline-flex;
			width: auto;
		}
	}
}