@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.cardform {
	background: @c-bg-body;
	padding: 0.875rem 1rem;
	.rounded(@b-radius);

	&_details {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&_disclaimer {
		margin-top: 1rem;
		display: flex;
		align-items: center;

		font-size: .875rem;
		color: @c-text-muted;

		.icon {
			flex-shrink: 0;
			margin-right: 0.25rem;
		}
	}

	&_alt {
		margin-top: 0.75rem;
	}
}