@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.checkbox {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	&-block {
		display: flex;
		width: 100%;

		& + & {
			margin-top: 0.5rem;
		}
	}

	input {
		.opacity(0);
		position: absolute;
		left: 0;
		bottom: 0;
		pointer-events: none;
	}

	&_icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		.square(1.5rem);
		.rounded(@b-radius);
		background: @c-bg-block;
		border: @b-width solid @c-border;

		.icon {
			.opacity(0);
			fill: @c-interface-white;
			.square(1rem);
		}
	}

	input:checked + &_icon {
		background: @c-primary;
		border-color: @c-primary;

		.icon {
			.opacity(1);
		}
	}

	input[type="radio"] + &_icon {
		.rounded(100%);
	} 

	&_caption {
		margin-left: 0.5rem;
	}
}