@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.childcard {
	display: flex;
	width: 100%;
	align-items: center;
	.block();
	padding: 1rem;

	&_photo {
		flex-shrink: 0;
		margin-right: 0.75rem;
	}

	&_info {
		min-width: 0;
	}

	&_name {
		font-size: 1.125rem;
		font-weight: 600;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&_details {
		margin-top: 0.25rem;
		display: flex;
		font-size: .875rem;
		color: @c-text-muted;

		&_item {
			display: inline-flex;
			align-items: center;
			margin-right: 0.5rem;

			.icon {
				margin-right: 0.25rem;
			}
		}
	}
}