@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.cta {
	background: url(../img/gradient.png) no-repeat center / cover;
	.rounded(@b-radius);
	color: @c-interface-white;
	padding: 1.5rem;

	&-center {
		text-align: center;

		.input {
			text-align: center;
		}
	}

	&_title {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	&_button {
		margin-top: 1rem;
	}

	&_form {
		margin-top: 1rem;
	}

	&_form &_button {
		margin-top: 0.5rem;
	}
}