@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.form {
	&_field {
		display: block;

		&-danger, &-danger .form_description {
			color: @c-interface-danger;
		}

		&-success, &-success .form_description {
			color: @c-interface-success;
		}

		& + & {
			margin-top: 1rem;
		}
	}

	&_submit {
		margin-top: 1.5rem;
	}

	&_label {
		display: flex;
		cursor: pointer;
		width: 100%;
		font-size: .875rem;
		font-weight: 600;
		margin-bottom: 0.5rem;

		.icon {
			.square(1rem);
			margin-left: auto;
			flex-shrink: 0;
			fill: @c-interface-danger;
		}
	}

	&_description {
		display: block;
		font-size: .875rem;
		margin-top: 0.5rem;
		color: @c-text-muted;
	}

	&_message {
		padding: 0.875rem 1rem;
		.rounded(@b-radius);
		border: @b-width solid @c-border;
		font-size: .875rem;

		&-danger {
			border: none;
			background: @c-interface-danger;
			color: @c-interface-white;
		}

		&-success {
			border: none;
			background: @c-interface-success;
			color: @c-interface-white;
		}
	}

	&_link {
		display: block;
		width: 100%;
		margin-top: 1em;
		
		font-size: .875rem;
		color: @c-text-muted;
		text-align: center;
	}

	&_group {
		display: flex;
		margin-left: -1rem;

		&_item {
			flex: 1;
			margin-left: 1rem;
		}
	}

	&_upload {
		&_preview {
			margin-bottom: 0.5rem;
			.square(3rem);
		}

		&_buttons {
			display: flex;
			margin-left: -0.75rem;

			.button {
				margin-left: 0.75rem;
			}
		}
	}

	&_disclaimer {
		font-size: .875rem;
		color: @c-text-muted;
		margin-top: 1rem;
	}
}