@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;

	border-bottom: @b-width solid @c-border;
	background: @c-bg-block;
	height: @h-header;

	&_wrap {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 @p-gap;
	}

	&_logo {
		.square(2rem);
		margin-right: 0.5rem;

		font-size: 2rem;
		line-height: 1;
		color: @c-primary;
		font-weight: 900;
	}

	&_lang {
		display: inline-flex;
		padding: 0.25rem 0.75rem;
		.rounded(4px);
		border: @b-width solid @c-border;
		color: @c-text-muted;
	}

	&_menu {
		display: flex;
		height: 100%;
		margin-left: 1.5rem;
		flex-grow: 1;

		@media @v-d {
			justify-content: flex-end;
		}

		&_item {
			flex: 1;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-bottom: 2px solid transparent;
			cursor: pointer;
			.transition-all;

			@media @v-d {
				flex-shrink: 0;
				flex-grow: 0;
				margin-left: 1.5rem;
			}

			&:not(&-active) {
				&:hover, &:active {
					.icon {
						fill: @c-primary;
					}
				}
			}

			.icon {
				.transition-all;
			}

			&-active {
				color: @c-primary;
				border-color: @c-primary;

				.icon {
					fill: @c-primary;
				}
			}

			span {
				display: none;

				@media @v-d {
					display: block;
					margin-left: 0.25rem;
					font-size: .875rem;
					font-weight: 600;
					margin-bottom: -2px;
					white-space: nowrap;
				}
			}
		}
	}
}