@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.input {
	display: block;
	width: 100%;
	padding: 0.875rem 1rem;

	background: @c-bg-block;
	.rounded(@b-radius);
	border: @b-width solid @c-border;
	outline: none;

	font-family: @fonts;
	font-size: 1rem;

	&::placeholder {
		color: @c-text-muted;
	}

	&[size] {
		width: auto;
	}

	&-inverse {
		border: none;
		color: @c-interface-white;
		background: fade(@c-interface-white, 10);

		&::placeholder {
			color: fade(@c-interface-white, 70);
		}
	}

	textarea& {
		resize: vertical;
		height: 10rem;
	}
}