@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.loader-template() {
	content: '';
	display: block;
	.center;
	border: 4px solid @c-icon;
	border-left-color: transparent;
	border-bottom-color: transparent;
	-webkit-animation: loader 1s infinite linear;
	animation: loader 1s infinite linear;
	.rounded(50%);
}

.loader {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&-block {
		display: flex;
		width: 100%;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	&:before {
		.loader-template();
		.square(2rem);
	}

	&-small:before {
		.square(1rem);
	}

	&-big:before {
		.square(3rem);
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}