@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.modal {
	position: fixed;
	z-index: 102;
	bottom: 0;
	left: 0;
	right: 0;

	max-height: 90vh;
	display: flex;
	flex-direction: column;

	background: @c-bg-block;
	.border-radius(@b-radius, @b-radius, 0, 0);

	.transition-all;

	&-hidden {
		.transform(translateY(100%));
		.opacity(0);
		visibility: hidden;
	}


	@media @v-d {
		left: 50%;
		top: 50%;
		bottom: auto;
		width: 25rem;
		.transform(translate(-50%, -50%));
		.rounded(@b-radius);

		&-hidden {
			.transform(translate(-50%, -45%));
		}
	}

	&_header {
		display: flex;
		align-items: center;
		padding: 0.75rem @p-gap;
		border-bottom: @b-width solid @c-border;
		flex-shrink: 0;
	}

	&_title {
		font-size: 1.125rem;
		font-weight: 600;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-right: 1rem;
	}

	&_subtitle {
		font-size: 1.125rem;
		font-weight: 700;
		margin-bottom: 1rem;		
	}

	&_close {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		.square(1.5rem);
		margin-left: auto;

		.icon {
			fill: @c-icon-muted;
			.square(1rem);
		}
	}

	&_body {
		overflow-y: auto;
	}

	&_content {
		padding: @p-gap;

		& + & {
			border-top: @b-width solid @c-border;
		}
	}

	&_menu {
		&_item {
			display: flex;
			width: 100%;
			align-items: center;
			padding: 0.75rem 1rem;

			& > .icon {
				flex-shrink: 0;
				margin-right: 0.5rem;
			}

			& + & {
				border-top: @b-width solid @c-border;
			}
		}
	}
}