@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.navbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	height: @h-header;
	border-top: @b-width solid @c-border;
	background: @c-bg-block;

	&_wrap {
		display: flex;
		height: 100%;
		align-items: center;
		padding: 0 @p-gap;
	}

	&_item {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		font-size: .75rem;
		font-weight: 600;
		color: @c-text-muted;

		&-active {
			color: @c-primary;

			.icon {
				fill: @c-primary;
			}
		}
	}
}