@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.newscard {
	display: block;
	overflow: hidden;
	position: relative;
	height: 11.25rem;
	background: @c-text;
	.rounded(@b-radius);
	box-shadow: @s-block;

	&_image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&_info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		padding: 0.75rem 1rem;
		color: @c-interface-white;
	}

	&_date {
		font-size: .75rem;
		margin-bottom: 0.5rem;
	}

	&_title {
		font-weight: 600;
	}
}