@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.params {
	&_row {
		display: flex;

		& + & {
			margin-top: 0.5rem;
		}
	}

	&_key {
		color: @c-text-muted;
	}

	&_value {
		font-weight: 600;
	}

	&_key, &_value {
		flex: 1;
	}
}