@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.plan {
	background: @c-bg-block;
	.rounded(@b-radius);
	box-shadow: @s-block;

	&-hl {
		background: url(../img/gradient.png) no-repeat center / cover;
		color: @c-interface-white;
	}

	&_title {
		font-size: 1.125rem;
		font-weight: 700;
		margin-bottom: 0.75rem;
	}

	&_list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1rem;
		margin-top: -0.75rem;

		&_item {
			flex: 1;
			display: flex;
			align-items: center;
			font-size: .875rem;
			font-weight: 600;
			margin-left: 1rem;
			margin-top: 0.75rem;
		}

		&_icon {
			display: flex;
			align-items: center;
			justify-content: center;
			.square(2.5rem);
			.rounded(@b-radius);
			border: @b-width solid @c-border;
			margin-right: 0.5rem;

			.plan-hl & {
				border: none;
				background: fade(@c-interface-white, 10);

				.icon {
					fill: currentColor;
				}
			}
		}
	}

	&_wrap {
		padding: 1rem;

		& + & {
			border-top: @b-width solid @c-border;

			.plan-hl & {
				border-color: fade(@c-interface-white, 20)
			}
		}
	}

	&_footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 0.25rem;
	}

	&_price {
		margin-top: 0.75rem;
	}

	&_benefit {
		display: flex;
		align-items: center;
		margin-bottom: 0.25rem;

		&_cost {
			font-size: .875rem;
			font-weight: 600;
			color: @c-text-muted;
			text-decoration: line-through;

			.plan-hl & {
				color: fade(@c-interface-white, 50)
			}
		}
	}

	&_discount {
		height: 1.125rem;
		line-height: 1.125rem;
		margin-left: 0.25rem;
		padding: 0 .25rem;
		.rounded(1.125rem);
		background: @c-primary;

		color: @c-interface-white;
		font-size: .75rem;
		font-weight: 700;

		.plan-hl & {
			background: @c-bg-block;
			color: @c-interface-success;
		}
	}

	&_cost {
		font-size: 1.125rem;
		font-weight: 600;
	}

	&_button {
		margin-top: 0.75rem;
	}
}