@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.share {
	display: flex;
	.rounded(@b-radius);
	overflow: hidden;
	height: 2.5rem;

	&_item {
		flex: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: @c-primary;
		cursor: pointer;
		.transition-all;

		.icon {
			fill: @c-interface-white;
		}

		&-vk {
			background: @c-vk;

			&:hover {
				background: darken(@c-vk, 5);
			}
		}

		&-facebook {
			background: @c-facebook;

			&:hover {
				background: darken(@c-facebook, 5);
			}
		}

		&-whatsapp {
			background: @c-whatsapp;

			&:hover {
				background: darken(@c-whatsapp, 5);
			}
		}

		&-telegram {
			background: @c-telegram;

			&:hover {
				background: darken(@c-telegram, 5);
			}
		}
	}
}