@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.tabs {
	display: flex;
	width: 100%;
	background: @c-bg-block;
	box-shadow: @s-block;
	.rounded(@b-radius);

	&_item {
		flex: 1;
		.rounded(@b-radius);
		padding: 0.5rem;

		text-align: center;
		font-weight: 600;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer;

		&-active {
			 background: @c-primary;
			 color: @c-interface-white;
			 cursor: default;
		}

		&:not(&-active) {
			&:hover, &:active {
				color: @c-primary;
			}
		}
	}
}