@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.5rem;
	margin-top: -0.5rem;

	&_item {
		padding: 0.25rem 0.5rem;
		margin-left: 0.5rem;
		margin-top: 0.5rem;

		.rounded(@b-radius);
		border: @b-width solid @c-border;
		
		font-size: .875rem;
		color: @c-text-muted;

		&-hl {
			background: @c-border;
		}
	}
}