@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.typeset {
	// Headings
	h1, h2, h3, h4, h5 {
		font-weight: 700;
		margin-bottom: 0.5rem;

		&:not(:first-child) {
			margin-top: 1em;
		}
	}

	h1 {
		font-size: 1.75rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3, h4 {
		font-size: 1.125rem;
	}


	// Font style
	b, strong {
		font-weight: bold;
	}

	i, em {
		font-style: italic;
	}

	a {
		color: @c-primary;
	}


	// Lists
	ul, ol {
		li {
			display: flex;

			&:before {
				content: '';
				flex-shrink: 0;
			}
		}

		li + li {
			margin-top: 0.5rem;
		}
	}

	ul {
		li {
			&:before {
				.square(.5rem);
				background: @c-icon;
				.rounded(2px);
				margin-right: 0.75rem;
				margin-top: 0.45rem;
			}
		}
	}

	ol {
		counter-reset: ol;

		li {
			counter-increment: ol;

			&:before {
				content: counter(ol);

				color: @c-text-muted;
				font-size: .875rem;
				font-weight: 600;

				width: 1rem;
				margin-right: 0.5rem;
				margin-top: 0.15rem;
			}
		}
	}


	// Margins
	p + p {
		margin-top: 1rem;
	}

	.share {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	img, video, iframe {
		display: block;
		width: calc(100% + (@p-gap * 2));
		margin-left: -@p-gap;
		margin-right: -@p-gap;

		@media @v-d {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			.rounded(@b-radius);
		}
	}
}