@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.vaccard {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0.75rem 1rem;

	&:not(&-instant) {
		.block();
	}

	&-instant {
		.rounded(@b-radius);
		box-shadow: none;
		border: @b-width solid @c-border;
	}

	&_title {
		display: flex;
		font-size: 1.125rem;
		font-weight: 600;

		span {
			flex-grow: 1;
		}
	}

	&_status {
		flex-shrink: 0;
		margin-left: 0.75rem;

		&-danger {
			fill: @c-interface-danger;
		}

		&-success {
			fill: @c-interface-success;
		}
	}

	&_subtitle {
		margin-top: 0.25rem;
		color: @c-text-muted;
	}

	&_tags {
		margin-top: 0;
	}

	&_rel {
		display: flex;
		min-width: 100%;
		align-items: center;
		border-top: @b-width solid @c-border;

		margin-left: -1rem;
		margin-right: -1rem;
		margin-top: 0.75rem;
		margin-bottom: -0.75rem;
		padding: 0.75rem 1rem;

		.vaccard-instant & {
			margin: 0;
			padding: 0;
			border-top: 0;
			margin-top: 0.5rem;
		}

		.vaccard-child & {
			margin: 0;
			padding: 0;
			border-top: 0;
		}

		&_photo {
			.square(2rem);
			margin-right: 0.5rem;
			flex-shrink: 0;
		}

		&_name {
			font-weight: 600;
			margin-right: 1rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&_date {
			display: inline-flex;
			align-items: center;
			margin-left: auto;
			color: @c-text-muted;
			font-size: .875rem;
			flex-shrink: 0;

			&-danger {
				color: @c-interface-danger;
			}

			&-success {
				color: @c-interface-success;
			}

			.icon {
				fill: currentColor;
				.square(.75rem);
				margin-left: 0.25rem;
			}
		}
	}
}