@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.article {
	&_cover {
		overflow: hidden;
		position: relative;
		height: 20rem;
		background: @c-text;
		margin: -@p-gap;
		margin-bottom: 1.5rem;

		@media @v-d {
			margin: 0;
			margin-bottom: 1.5rem;
			.rounded(@b-radius);
		}
	}

	&_image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&_info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		padding: @p-gap;
		color: @c-interface-white;
	}

	&_date {
		font-size: .875rem;
		margin-bottom: 0.5rem;
	}

	&_title {
		font-size: 1.75rem;
		font-weight: 700;
	}

	&_expert {
		padding: 1.5rem 0;
		border-top: @b-width solid @c-border;
		border-bottom: @b-width solid @c-border;

		&_card {
			display: flex;
			align-items: center;
		}

		&_photo {
			.square(3.5rem);
			.rounded(@b-radius);
			overflow: hidden;
			flex-shrink: 0;
			margin-right: 1rem;

			img {
				display: block;
				.square(100%);
				object-fit: cover;
			}
		}

		&_info {
			min-width: 0;
		}

		&_name {
			font-size: 1.125rem;
			font-weight: 700;
			display: inline-flex;
			align-items: center;

			span {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.icon {
				fill: @c-primary;
				margin-left: 0.25rem;
			}
		}

		&_status {
			color: @c-text-muted;
		}

		&_desc {
			font-size: .875rem;
			color: @c-text-muted;
			margin-top: 0.75rem;
		}
	}

	&_details {
		margin-top: -0.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		font-size: .875rem;
		color: @c-text-muted;
	}
}