@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.auth {
	&_section {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	&_soc {
		display: flex;
		height: 3rem;
		margin-left: -0.5rem;

		&_item {
			flex: 1;
			.rounded(@b-radius);
			background: @c-primary;
			margin-left: 0.5rem;
			cursor: pointer;

			&-google {
				background: @c-google;

				&:hover, &:active {
					background: darken(@c-google, 5);
				}
			}

			&-facebook {
				background: @c-facebook;

				&:hover, &:active {
					background: darken(@c-facebook, 5);
				}
			}

			&-vk {
				background: @c-vk;

				&:hover, &:active {
					background: darken(@c-vk, 5);
				}
			}

			.icon {
				fill: @c-interface-white;
				.square(2rem);
			}
		}
	}

	&_alt {
		color: @c-text-muted;
		text-align: center;

		a, button {
			color: @c-primary;
			font-weight: 600;
			cursor: pointer;

			&:hover {
				color: @c-primary-d;
			}
		}
	}
}