@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.guide {
	background: @c-primary;
	
	&_slide {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;

		&:before {
			content: '';

			position: absolute;
			z-index: 2;
			top: 0;

			display: block;
			width: 100%;
			height: 7.5rem;
			background: linear-gradient(180deg, fade(@c-primary, 80) 0%, fade(@c-primary, 0) 100%);
		}
	}

	&_image {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		.square(100%);
		object-fit: cover;
		pointer-events: none;

		@media @v-d {
			width: 30rem;
			left: 50%;
			margin-left: -15rem;
		}
	}

	&_main {
		background: fade(@c-primary, 80);
		color: @c-interface-white;
		backdrop-filter: blur(20px);
		position: relative;
		z-index: 2;

		&:before {
			content: '';

			position: absolute;
			top: -7.5rem;

			display: block;
			width: 100%;
			height: 7.5rem;
			background: linear-gradient(180deg, fade(@c-primary, 0) 0%, fade(@c-primary, 80) 100%);
		}
	}

	&_content {
		padding: 2rem 1rem;
		text-align: center;
	}

	&_text {
		font-size: 1.125rem;
		color: fade(@c-interface-white, 80);
	}

	&_button {
		margin-top: 1rem;
	}

	&_nav {
		display: flex;
		justify-content: center;
		margin-left: -0.25rem;	

		&_item {
			.square(.75rem);
			.rounded(100%);
			margin-left: 0.25rem;
			background: fade(@c-interface-white, 30);

			&-active {
				background: @c-interface-white;
			}
		}
	}

	&_skip {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		border-top: @b-width solid fade(#fff, 10);
		padding: 2rem 0;
		margin-top: 2rem;
		cursor: pointer;

		font-size: 1.125rem;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: fade(#fff, 70);

		.icon {
			margin-left: 0.25rem;
			fill: currentColor;
		}
	}
}