@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.mark {
	&_vaccard {
		margin-bottom: 1rem;
	}

	&_section {
		margin: 0 -@p-gap;
		padding: 0 @p-gap;

		& + & {
			border-top: @b-width solid @c-border;
			padding-top: 1rem;
			margin-top: 1rem;
		}
	}

	&_subtitle {
		font-size: 1.125rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}