@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.my {
	&_title {
		margin-bottom: 0.75rem;
	}

	&_tabs {
		margin-bottom: 1rem;
	}

	&_controls {
		margin-bottom: 1rem;
	}
}