@import (reference) '../reference/lessmix';
@import (reference) '../reference/var';
@import (reference) '../reference/classes';

.settings {
	&_subtitle {
		font-size: 1.125rem;
		font-weight: 600;
		margin-bottom: 0.75rem;
	}

	&_menu {
		&_item {
			display: flex;
			width: 100%;
			text-align: left;
			align-items: center;
			padding: 0.875rem 1rem;
			.block();

			.icon {
				flex-shrink: 0;

				&:first-child {
					margin-right: 0.5rem;
				}

				&:last-child {
					margin-left: 0.5rem;
					fill: @c-interface-success;
				}
			}

			span {
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			& + & {
				margin-top: 0.5rem;
			}
		}
	}

	&_subscription {
		&_status {
			span {
				font-weight: 600;
			}

			&-success span {
				color: @c-interface-success;
			}

			&-danger span {
				color: @c-interface-danger;
			}
		}

		&_payment {
			margin-top: 0.25rem;
			color: @c-text-muted;
			font-size: .875rem;
		}

		&_button {
			margin-top: 0.75rem;
		}
	}

	&_history {
		font-size: .875rem;

		li {
			display: flex;
			justify-content: space-between;
			padding-top: 0.5rem;
			border-top: @b-width solid @c-border;
		}

		li + li {
			margin-top: 0.75rem;
		}
	}

	&_notifs {
		&_item {
			display: flex;
			align-items: center;
			justify-content: space-between;

			& + & {
				margin-top: 0.5rem;
			}
		}

		&_caption {
			display: flex;
			align-items: center;

			.icon {
				margin-right: 0.5rem;
			}
		}
	}
}