<header class="header">
	<div class="wrap header_wrap">
		<a href="/" class="header_logo">П</a>
		<a href="#" class="header_lang">Қаз</a>

		<nav class="header_menu">
			<a href="/" class="header_menu_item header_menu_item-active">
				<svg class="icon">
					<use xlink:href="#home"></use>
				</svg>
				<span>Главная</span>
			</a>

			<a href="/vaccinations.html" class="header_menu_item">
				<svg class="icon">
					<use xlink:href="#view-details"></use>
				</svg>
				<span>Каталог прививок</span>
			</a>

			<a href="/articles.html" class="header_menu_item">
				<svg class="icon">
					<use xlink:href="#news"></use>
				</svg>
				<span>Статьи и новости</span>
			</a>

			<button onclick="openModal('login')" class="header_menu_item">
				<svg class="icon">
					<use xlink:href="#user"></use>
				</svg>
				<span>Личный кабинет</span>
			</button>
		</nav>
	</div>
</header>