<div class="modal modal-hidden" id="login">
	<div class="modal_header">
		<div class="modal_title">Авторизация</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<div class="auth_section modal_content">
			<div class="auth_soc">
				<button class="auth_soc_item auth_soc_item-google">
					<svg class="icon">
						<use xlink:href="#google-logo"></use>
					</svg>
				</button>
				<button class="auth_soc_item auth_soc_item-facebook">
					<svg class="icon">
						<use xlink:href="#facebook-logo"></use>
					</svg>
				</button>
				<button class="auth_soc_item auth_soc_item-vk">
					<svg class="icon">
						<use xlink:href="#vk-logo"></use>
					</svg>
				</button>
			</div>
		</div>

		<form action="my.html" class="auth_section form modal_content">
			<div class="form_field form_message form_message-danger">Вы указали неверную эл. почту или пароль</div>

			<label class="form_field form_field-danger">
				<div class="form_label">Эл. почта</div>
				<input type="email" class="input form_input" placeholder="example@gmail.com">
				<span class="form_description">Заполните это поле</span>
			</label>

			<label class="form_field">
				<div class="form_label">Пароль</div>
				<input type="password" class="input form_input" placeholder="••••••••">
			</label>

			<button disabled class="form_submit button button-primary button-block">Войти</button>
			<button type="button" class="form_link" onclick="openModal('restore')">Восстановить пароль</button>
		</form>

		<div class="auth_alt auth_section modal_content">
			Нет аккаунта? <button onclick="openModal('signup')">Зарегистрируйтесь</button>
		</div>
	</div>
</div>

<div class="modal modal-hidden" id="signup">
	<div class="modal_header">
		<div class="modal_title">Регистрация</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<div class="auth_section modal_content">
			<div class="auth_soc">
				<button class="auth_soc_item auth_soc_item-google">
					<svg class="icon">
						<use xlink:href="#google-logo"></use>
					</svg>
				</button>
				<button class="auth_soc_item auth_soc_item-facebook">
					<svg class="icon">
						<use xlink:href="#facebook-logo"></use>
					</svg>
				</button>
				<button class="auth_soc_item auth_soc_item-vk">
					<svg class="icon">
						<use xlink:href="#vk-logo"></use>
					</svg>
				</button>
			</div>
		</div>

		<form action="guide.html" class="auth_section form modal_content">
			<label class="form_field">
				<div class="form_label">Эл. почта</div>
				<input type="email" class="input form_input" placeholder="example@gmail.com">
			</label>

			<label class="form_field">
				<div class="form_label">Пароль</div>
				<input type="password" class="input form_input" placeholder="••••••••">
			</label>

			<label class="form_field">
				<div class="form_label">Повторите пароль</div>
				<input type="password" class="input form_input" placeholder="••••••••">
			</label>

			<button class="form_submit button button-primary button-block">Создать аккаунт</button>
		</form>

		<div class="auth_alt auth_section modal_content">
			Уже зарегистрированы? <button onclick="openModal('login')">Авторизуйтесь</button>
		</div>
	</div>
</div>

<div class="modal modal-hidden" id="restore">
	<div class="modal_header">
		<div class="modal_title">Восстановить пароль</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<form class="form modal_content">
			<label class="form_field">
				<div class="form_label">Эл. почта</div>
				<input type="email" class="input form_input" placeholder="example@gmail.com">
			</label>

			<button class="form_submit button button-primary button-block">Восстановить пароль</button>
		</form>
	</div>
</div>

<div class="modal modal-hidden" id="add-email">
	<div class="modal_header">
		<div class="modal_title">Введите свою эл. почту</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<form class="form modal_content">
			<label class="form_field">
				<input type="email" class="input form_input" placeholder="example@gmail.com">
			</label>

			<button class="form_submit button button-primary button-block">Сохранить</button>
		</form>
	</div>
</div>

<div class="modal modal-hidden" id="add-phone">
	<div class="modal_header">
		<div class="modal_title">Введите свой телефон</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<form class="form modal_content">
			<label class="form_field">
				<input type="text" class="input form_input" placeholder="8 700 000 00 00">
			</label>

			<button class="form_submit button button-primary button-block">Сохранить</button>
		</form>
	</div>
</div>

<div class="modal modal-hidden" id="add-child">
	<div class="modal_header">
		<div class="modal_title">Добавить ребёнка</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<form class="form modal_content">
			<label class="form_field">
				<span class="form_label">
					<span>Имя</span>
					<svg class="icon">
						<use xlink:href="#asterisk"></use>
					</svg>
				</span>
				<input type="text" class="input form_input" placeholder="Введите имя ребёнка">
			</label>

			<div class="form_field">
				<span class="form_label">
					<span>Дата рождения</span>
					<svg class="icon">
						<use xlink:href="#asterisk"></use>
					</svg>
				</span>

				<span class="form_group">
					<span class="form_group_item">
						<select class="input form_input">
							<option value="" selected disabled>День</option>
							<option value="">1</option>
						</select>
					</span>
					<span class="form_group_item">
						<select class="input form_input">
							<option value="" selected disabled>Месяц</option>
							<option value="">Январь</option>
						</select>
					</span>
					<span class="form_group_item">
						<select class="input form_input">
							<option value="" selected disabled>Год</option>
							<option value="">1970</option>
						</select>
					</span>
				</span>
			</div>

			<label class="form_field">
				<span class="form_label">Фото</span>

				<span class="form_upload">
					<!-- <span class="avatar form_upload_preview">
						<img src="/assets/img/noavatar.jpg" alt="">
					</span> -->

					<span class="form_upload_buttons">
						<button class="button button-small button-primary">Загрузить</button>
						<!-- <button class="button button-small button-outline">Удалить</button> -->
					</span>
				</span>
			</label>

			<div class="form_field form_group">
				<div class="form_group_item">
					<label class="form_field">
						<span class="form_label">Вес (кг)</span>
						<input type="text" class="input form_input">
					</label>
				</div>
				<div class="form_group_item">
					<label class="form_field">
						<span class="form_label">Рост (см)</span>
						<input type="text" class="input form_input">
					</label>
				</div>
			</div>

			<button class="form_submit button button-primary button-block">Добавить</button>
		</form>
	</div>
</div>

<div class="modal modal-hidden" id="update-child-data">
	<div class="modal_header">
		<div class="modal_title">Обновить рост и вес ребёнка</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<form class="form modal_content">
			<div class="form_field form_group">
				<div class="form_group_item">
					<label class="form_field">
						<span class="form_label">
							<span>Вес (кг)</span>
							<svg class="icon">
								<use xlink:href="#asterisk"></use>
							</svg>
						</span>
						<input type="text" class="input form_input">
					</label>
				</div>
				<div class="form_group_item">
					<label class="form_field">
						<span class="form_label">
							<span>Рост (см)</span>
							<svg class="icon">
								<use xlink:href="#asterisk"></use>
							</svg>
						</span>
						<input type="text" class="input form_input">
					</label>
				</div>
			</div>

			<button class="form_submit button button-primary button-block">Сохранить</button>
		</form>
	</div>
</div>

<div class="modal modal-hidden" id="paywall">
	<div class="modal_header">
		<div class="modal_title">Оплата подписки</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<div class="form modal_content">
			<div class="cardform">
				<label class="form_field">
					<span class="form_label">
						<span>Номер карты</span>
						<svg class="icon">
							<use xlink:href="#asterisk"></use>
						</svg>
					</span>
					<input type="text" class="input form_input" placeholder="0000 0000 0000 0000">
				</label>

				<div class="form_field cardform_details">
					<label class="cardform_details_item">
						<span class="form_label">
							<span>Срок действия</span>
							<svg class="icon">
								<use xlink:href="#asterisk"></use>
							</svg>
						</span>
						<span class="form_group">
							<span class="form_group_item">
								<input type="text" class="input form_input" size="3" placeholder="ММ">
							</span>
							<span class="form_group_item">
								<input type="text" class="input form_input" size="3" placeholder="ГГ">
							</span>
						</span>
					</label>

					<label class="cardform_details_item">
						<span class="form_label">
							<span>CVC</span>
							<svg class="icon">
								<use xlink:href="#asterisk"></use>
							</svg>
						</span>
						<input type="text" class="input form_input" size="3" placeholder="000">
					</label>
				</div>

				<div class="cardform_disclaimer">
					<svg class="icon">
						<use xlink:href="#shield"></use>
					</svg>
					Ваши платёжные данные в безопасности
				</div>
			</div>

			<!-- <div class="cardform_alt">
				Место для кнопки альтернативной оплаты
			</div> -->

			<div class="form_disclaimer">Платежи будут осуществляться автоматически каждые 30 дней, стоимость подписки – 3200₸. Подписку можно отключить в любой момент в настройках личного кабинета.</div>

			<button class="form_submit button button-primary button-block">Подписаться</button>
		</div>
	</div>
</div>

<div class="modal modal-hidden" id="unsubscribe">
	<div class="modal_body">
		<div class="modal_content">
			<div class="title">Подписка отменена</div>
			<p class="text-muted mb-1">Пожалуйста, укажите причину из-за которой вы приняли такое решение</p>

			<label class="checkbox checkbox-block">
				<input type="radio" name="reason">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Сервис не принёс пользы</span>
			</label>

			<label class="checkbox checkbox-block">
				<input type="radio" name="reason">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Возникли технические проблемы</span>
			</label>

			<label class="checkbox checkbox-block">
				<input type="radio" name="reason">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Не устраивает стоимость подписки</span>
			</label>

			<label class="checkbox checkbox-block">
				<input type="radio" name="reason">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Использую альтернативный инструмент</span>
			</label>

			<label class="checkbox checkbox-block">
				<input type="radio" name="reason">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Другое</span>
			</label>

			<button onclick="closeModals()" class="form_submit button button-primary button-block">Подтвердить</button>
		</div>
	</div>
</div>

<div class="modal modal-hidden" id="vaccination">
	<div class="modal_header">
		<div class="modal_title">История прививки</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<div class="modal_content">
			<div class="vaccard mb-1 vaccard-instant">
				<span class="vaccard_title">Туберкулёз</span>
				<span class="vaccard_subtitle">1-ая инъекция</span>

				<span class="vaccard_rel">
					<span class="avatar vaccard_rel_photo">
						<img src="/assets/img/noavatar.jpg" alt="">
					</span>
					<span class="vaccard_rel_name">Миша</span>
				</span>
			</div>

			<div class="array">
				<div class="array_key">Дата</div>
				<div class="array_value">20 ноября 2020</div>
			</div>
		</div>

		<div class="modal_content">
			<div class="modal_subtitle">Вакцина</div>

			<div class="array">
				<div class="array_key">Название</div>
				<div class="array_value">Превенар</div>
			</div>

			<div class="array">
				<div class="array_key">Производитель</div>
				<div class="array_value">Пфайзер ООО</div>
			</div>

			<div class="array">
				<div class="array_key">Серия</div>
				<div class="array_value">000798</div>
			</div>
		</div>

		<div class="modal_content">
			<div class="modal_subtitle">Клиника</div>

			<div class="array">
				<div class="array_key">Название</div>
				<div class="array_value text-muted">—</div>
			</div>

			<div class="array">
				<div class="array_key">Адрес</div>
				<div class="array_value text-muted">—</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-hidden" id="vaccination-menu">
	<div class="modal_menu">
		<a href="/my-mark.html" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#checkmark"></use>
			</svg>
			<span>Отметить прививку</span>
		</a>
		<a href="/vaccination-auth.html" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#view-details"></use>
			</svg>
			<span>Подробнее о прививке</span>
		</a>
	</div>
</div>

<div class="modal modal-hidden" id="child-menu">
	<div class="modal_menu">
		<button onclick="openModal('add-child')" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#edit"></use>
			</svg>
			<span>Изменить информацию</span>
		</button>
		<button onclick="openModal('update-child-data')" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#update"></use>
			</svg>
			<span>Обновить рост и вес</span>
		</button>
		<a href="/my.html" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#view-details"></use>
			</svg>
			<span>Предстоящие прививки</span>
		</a>
		<a href="/my-history.html" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#history"></use>
			</svg>
			<span>История прививок</span>
		</a>
		<button class="modal_menu_item" onclick="openModal('remove')">
			<svg class="icon">
				<use xlink:href="#trash"></use>
			</svg>
			<span>Удалить</span>
		</button>
	</div>
</div>

<div class="modal modal-hidden" id="child-filter">
	<div class="modal_menu">
		<div class="modal_menu_item">
			<label class="checkbox checkbox-block">
				<input type="radio" name="filter" checked onchange="closeModals();">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Все дети</span>
			</label>
		</div>

		<div class="modal_menu_item">
			<label class="checkbox checkbox-block">
				<input type="radio" name="filter" onchange="closeModals();">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Миша</span>
			</label>
		</div>

		<div class="modal_menu_item">
			<label class="checkbox checkbox-block">
				<input type="radio" name="filter" onchange="closeModals();">
				<div class="checkbox_icon">
					<svg class="icon">
						<use xlink:href="#checkmark"></use>
					</svg>
				</div>
				<span class="checkbox_caption">Диана</span>
			</label>
		</div>
	</div>
</div>

<div class="modal modal-hidden" id="account-menu">
	<div class="modal_menu">
		<button onclick="openModal('add-email')" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#envelope"></use>
			</svg>
			<span>Сменить электронную почту</span>
		</button>
		<button class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#password"></use>
			</svg>
			<span>Сменить пароль</span>
		</button>
		<button onclick="openModal('add-phone')" class="modal_menu_item">
			<svg class="icon">
				<use xlink:href="#cellphone"></use>
			</svg>
			<span>Сменить номер телефона</span>
		</button>
	</div>
</div>

<div class="modal modal-hidden" id="remove">
	<div class="modal_header">
		<div class="modal_title">Подтвердите удаление</div>

		<button class="modal_close" onclick="closeModals()">
			<svg class="icon">
				<use xlink:href="#delete"></use>
			</svg>
		</button>
	</div>

	<div class="modal_body">
		<form class="form modal_content">
			Данное действие нельзя отменить, вместе с этим исчезнет информация о предстоящих и поставленных прививках ребёнка. Вы действительно хотите удалить ребёнка из системы?

			<button class="form_submit button button-danger button-block">Удалить</button>
		</form>
	</div>
</div>