<nav class="navbar">
	<div class="wrap navbar_wrap">
		<a href="/my.html" class="navbar_item navbar_item-active">
			<svg class="icon">
				<use xlink:href="#calendar"></use>
				<span>прививки</span>
			</svg>
		</a>
		<a href="/my-children.html" class="navbar_item">
			<svg class="icon">
				<use xlink:href="#baby"></use>
				<span>мои дети</span>
			</svg>
		</a>
		<a href="/my-settings.html" class="navbar_item">
			<svg class="icon">
				<use xlink:href="#settings"></use>
				<span>настройки</span>
			</svg>
		</a>
	</div>
</nav>